.card1,
.card2,
.card3,
.card4 {
  position: absolute;
  border-radius: 5px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  will-change: transform;
}

.card1 {
  min-width: 30ch;
  min-height: 30ch;
  width: 20vw;
  height: 20vw;
  max-width: 50ch;
  max-height: 50ch;
  background-image: url(https://image.flaticon.com/icons/svg/119/119596.svg);
}

.card2 {
  width: 12ch;
  height: 12ch;
  background-image: url(https://image.flaticon.com/icons/svg/789/789395.svg);
}

.card3 {
  opacity: 0.9;
  width: 12ch;
  height: 12ch;
  background-image: url(https://image.flaticon.com/icons/svg/414/414927.svg);
}

.card4 {
  width: 12ch;
  height: 12ch;
  background-image: url(https://image.flaticon.com/icons/svg/789/789392.svg);
}

.anim-container {
  width: 50%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
