@media only screen and (max-width: 1025px) {
  .main-navbar .navbar {
    background-image: linear-gradient(90deg, #2b5876 0%, #4e4376 100%);
    padding: 10px !important;
  }
  .navbar-brand img {
    width: 170px;
    height: auto;
  }
}
.navbar-nav .nav-link {
  color: white;
  font-family: "Dosis", sans-serif;
  font-style: normal;
  /* font-weight: 500; */
  font-size: 30px;
  line-height: 27px;
  letter-spacing: 0.05em;
  margin: 0 50px;
}

.navbar-nav .nav-link.active {
  transform: scale(1.3);
  font-weight: 700;
}

.mob-menu .nav-link {
  color: white;
  font-family: "Dosis", sans-serif;
  font-style: normal;
  font-size: 30px;
  line-height: 27px;
  letter-spacing: 0.05em;
}

.mob-menu .nav-link.active {
  font-weight: 700;
  padding-left: auto;
}

.user-menu {
  background: none;
}

.user-menu img {
  margin-right: 10px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}

.dropdown-menu {
  background-color: rgba(0, 0, 0, 0.5) !important;
  backdrop-filter: blur(10px);
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  padding: 10px !important;
}

.dropdown-menu .icon {
  width: 20px;
  margin-right: 10px;
  display: inline-block;
}
.dropdown-menu .dropdown-item,
.dropdown-menu .dropdown-header {
  color: aliceblue !important;
  font-size: 1rem !important;
  font-weight: 400;
}

.dropdown-menu .dropdown-item:hover {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.mob-menu {
  z-index: 1500;
  background-image: linear-gradient(90deg, #2b5876 0%, #2b5876 100%);
  border-radius: 15px;
  position: fixed;
  top: 100px;
  width: 40vw;
  padding: 2vw;
  transition: "0.3s ease-in-out";
}
