.prof-container .card {
  max-width: 540px;
  height: 315px;
  border-radius: 20px;
  border: none;
  background-color: #ebebeb;
  background-image: url("assets/bcg-card-big.svg");
  background-size: contain;
  background-repeat: no-repeat;
  filter: drop-shadow(7px 8px 8px rgba(0, 0, 0, 0.22));
}

.prof-container .sticky-prof {
  position: sticky;
  top: 60px;
}

.mob {
  display: none;
}

@media only screen and (max-width: 767px) {
  .prof-container .card {
    width: 300px;
    height: auto;
  }

  .mob {
    display: block;
  }

  .desk {
    display: none;
  }

  .card-body-details {
    padding-top: 0px !important;
  }
}

.prof-container .card .prof-name {
  font-family: "Dosis", sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: 38px;
  text-transform: uppercase;
  color: #000000;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
}

.prof-name.mob {
  font-size: 25px;
  text-align: center;
  margin-top: -10px;
}

.card-body-details {
  padding-top: 10px;
}

.prof-container .card .prof-details {
  font-family: Titillium Web;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 23px;
  color: #222222;
  padding-left: 10px;
}

.prof-container .card .prof-details svg {
  width: 15px;
  margin-right: 10px;
}

.prof-container .prof-image {
  height: 180px;
  display: grid;
  place-items: center;
}

.prof-container .prof-image img {
  z-index: 20;
  width: 110px;
  height: 110px;
  object-fit: cover;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.prof-container .prof-header {
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.favorite-icon {
  font-size: 25px;
  padding: 1px 6px !important;
  color: #f9f871;
  background: none;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.4));
}

.icon-top {
  position: absolute;
  top: 10px;
  right: 15px;
}

.toggle-icon {
  color: #222222;
  background: transparent;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.toggle-icon:focus {
  outline: transparent;
}

.icon-bottom {
  position: absolute;
  bottom: 10px;
  right: 20px;
}

.icon-bottom:active {
  position: absolute;
  bottom: 7px;
  right: 20px;
}

.prof-container .prof-description {
  height: 120px;
  padding-top: 10px;
}

.prof-container p {
  color: black;
  font-size: 15px;
  line-height: normal;
}

.img-radius {
  border-radius: 50%;
}
